                    <!--hr class="section-heading-spacer"-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Welcome</h2>
	    <%= image_tag("eric-icon.png")%><p>Welcome to my personal blog. This is where I post my daily thoughts so others can learn and whatever.</p>
